html {
    height: 100vh;
    width: 100vw;
}

body {
    margin-left: 50px;
    background-color: aliceblue;
}

main {
    flex-direction: column;
}

h1 {
    font-size: 30px;
    margin-bottom: 75px;
}

h2 {
    font-size: 20px;
    margin-left: 30px;
}

h3 {
    font-size: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    min-width: 100%;
    background-color: lightgrey;
}

.food-stuff {
    display: flex;
}

.food-image {
    display: flex;
    max-height: 400px;
    outline: solid;
    outline-color: rgb(96, 122, 122);
}
.heart-of-the-recipe {
    display: flex;
    margin-bottom: 10%;
    flex-wrap: wrap;
}

.food-ingredients {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-directions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 500px;
}

#ingredients-header {
    margin-left: 35px;
}

#main-page-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    position: absolute;
}

.main-list-items {
    margin: 30px;
}

.food-main-image {
    max-width: 200px;
    margin: 25px 0px 25px 0px;
}

label {
    margin-left: 5px;
}

#footer-text {
    display: flex;
    margin-left: 25px;
    justify-content: center;
}