html {
    height: 100vh;
    width: 100vw;
}

body {
    margin-left: 50px;
    background-color: white;
}

main {
    flex-direction: column;
}

h1 {
    font-size: 30px;
    margin-left: 10px;
}

h2 {
    font-size: 20px;
    margin-left: 15px;
}

h3 {
    font-size: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    min-width: 500px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3em;
    min-width: 100%;
    background-color: lightgrey;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 1px 1px 2px lightcoral, 0 0 1em blue;
}

.food-stuff {
    display: flex;
}

.food-image {
    display: flex;
    max-height: 300px;
    margin-left: 15px;
    outline: solid;
    flex-wrap: wrap;
    outline-color: rgb(96, 122, 122);
    margin-right: 50px;
}

.heart-of-the-recipe {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10vh;
    flex-wrap: wrap;
}

.food-ingredients {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 50vw;
    min-width: 30vw;
}

.recipe-directions {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    max-width: 50vw;
}

#ingredients-header {
    margin-left: 30px;
}

#main-page-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.main-list-items {
    margin: 50px 40px 0px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.food-main-image {
    display: flex;
    max-width: 300px;
    margin: 15px 0px 15px 0px;
}

.main-food-description {
    display: flex;
    flex-direction: row;
}

.food-description-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    max-width: 50vw;
}

@media only screen and (max-width: 776px)  {

    .main-food-description {
        display: flex;
        flex-direction: column;
    }

    .food-image {
        display: flex;
        align-self: flex-start;
        max-height: 300px;
        margin-left: 15px;
        outline: solid;
        outline-color: rgb(96, 122, 122);
        margin-right: 50px;
    }

    .food-description-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        max-width: 50vw;
        margin-left: 15px;
    }

    .main-list-items {
        margin: 25px 0px 0px 20px;
        text-align: left;
        font-size: 20px;
    }
}


label {
    margin-left: 5px;
}